<h1><%= @animal.name %></h1>
<h3><em><%= @animal.locality %></em></h3>
<h3>Mortal enemies with <%= @animal.enemy %></h3>

<%= link_to "Edit", edit_animal_path(@animal) %>
<%= link_to "Home", animals_path %>
<%= link_to "Delete Animal", animal_path(@animal),
                            :data => { confirm: "Are you sure",
                            :method => 'delete'} %>
